.label {
  border: 2px solid #1f2937;
  color: #1f2937;
  font-size: 1.2rem;
  font-weight: medium;
  padding: 0.5rem 1rem;
}
.label:hover {
  color: #f97316;
  border: 2px solid #f97316;
}

.label:checked + .label {
  background-color: #f97316;
  border: 2px solid #f97316;
  color: #1f2937;
}
